<%= turbo_frame_tag "detail" do %>
  <h2>Details for <%= @person.name %></h2>
  <ul>
    <% @person.details.each do |detail| %>
      <li>Title: <%= detail.title %>, Age: <%= detail.age %></li>
    <% end %>
  </ul>
<% end %>
